section#blog-writer
  .panel.panel-default
    .panel-heading
      h4(data-bind="text: name")
    .panel-body(data-bind="text: profile")
    p.text-right
      a(data-bind="attr: { href: wiki_link }", target="_blank") >> もっと詳しく
